<template>
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <router-link :to="'/dashboard'" class="nav-link"><i class="icon-speedometer"></i> Dashboard </router-link>
        </li>
        <li class="nav-title">
          UI Elements
        </li>
        <router-link tag="li" class="nav-item nav-dropdown" :to="{ path: '/dashboard'}" disabled>
          <div class="nav-link nav-dropdown-toggle" @click="handleClick"><i class="icon-puzzle"></i> Items</div>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <router-link :to="'/dashboard/list'" class="nav-link" exact><i class="icon-puzzle"></i> Items List</router-link>
            </li>
          </ul>
        </router-link>

      </ul>
    </nav>
  </div>
</template>
<script>

export default {
  name: 'sidebar',
  methods: {
    handleClick (e) {
      e.preventDefault()
      e.target.parentElement.classList.toggle('open')
    }
  }
}
</script>

<style lang="css">
  .nav-link {
    cursor:pointer;
  }
</style>
