<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card-group mb-0">
            <div class="card p-4">
              <div class="card-block">
                <form v-on:submit.prevent="getLogin">
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to Panel</p>
                  <div class="input-group mb-3">
                    <span class="input-group-addon"><i class="icon-user"></i></span>
                    <input class="form-control" v-model="user.email" type="text" placeholder="Username">
                  </div>
                  <div class="input-group mb-4">
                    <span class="input-group-addon"><i class="icon-lock"></i></span>
                    <input class="form-control" v-model="user.password" type="password" placeholder="Password">
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <button type="submit" class="btn btn-primary px-4">Login</button>
                    </div>
                    <div class="col-6 text-right">
                      
                    </div>
                  </div>

                </form>
              </div>
            </div>
            <div class="card card-inverse card-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-block text-center">
                <div>
                  <h2>Discount App</h2>
                  <p>Lorem ipsum dolor sit amet.</p>
                  <p v-if="submitData">{{submitData|json}}</p>
                  <button type="button" class="btn btn-primary active mt-3">Info App !</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
/*
import Vue from 'vue'
import VueResource from 'vue-resource';

Vue.use(VueResource);
*/
  const Login = {
    props: {},
    ready: function () {
      console.log("ready end");
    },
    data: function () {
      return {
        user: {
          email: "superuser@gmail.com",
          password: "superuser123456"
        },
        submitData: null,
        name: 'Login',
        isLogin : false
      }
    },
    watch: {
      isLogin: function (val, oldVal) {
        if (val === true) {
          this.$router.go('/')
        }
      }
    },
    components: {},
    computed: {
      reversedMessage() {
        let total = 0
        console.log("asdfg");
        this.user.email = "superuser@gmail.com"
        return total
      },
      detilPage() {
        if (this.$route.path.search(/\/product\//ig) === 0) return true
        return false
      }
    },
    methods: {

      getLogin: function () {
     /*   var apiurl = 'js/shop/api/api.json';
            this.$http.get('/api/left/?searchTerm=', function(adapter)
            {

            }.bind(this));
*/
        fetch("http://hoppi.liberyen.com/api/postapilogin", {
          method: 'post',
          headers: {
            "Content-type": "application/json; charset=UTF-8"
          },
          body: JSON.stringify(this.user)
        }).then(function (response) {
          console.log(this);
          return response.json();

        })
          .then(function (data) {
            console.log(this);
            localStorage.setItem("userData", JSON.stringify(data))
           // window.location.href = '#/dashboard';
           this.getRedirect("true")

          }.bind(this)).catch(function (error) {
            console.log('Request failed', error);
          })
      },
      doLogin: function () {
        this.submitData = this.user;
      },
      getArticle: function () {
        fetch('http://hoppi.liberyen.com/api/list/discounts').then(
          function (response) {
            // Examine the text in the response
            return response.json()
          }
        ).then(
          function (data) {
            console.log(data);

          }
          )
          .catch(function (err) {
            console.log('Fetch Error :-S', err);
          });


      },
      getRedirect: function (status) {
        if (status == 'true') {
          //this.$router.go('/')
          this.$router.push('/')
        }

      },

    },
    mounted() {
      this.getArticle();

      this.getRedirect(this);
      //this.getLogin();
    },
    created() {
      console.log("created basladi");
      // console.log(this.$route.matched);
      // console.log(this.$route);
      console.log("created end");
    },
    filters: {
      json: (value) => { return JSON.stringify(value, null, 2) }
    },

  }
  export default Login

</script>
